{% extends "header.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block body %}
{% if session['logged_in'] %}
<div class="title">
    <h1>Professor Dashboard</h1>
    <a href="/logout" class="logout">Logout!</a>
</div>

<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm boxSize">
                <div class="dashBox">
                    <h2> Update Your Info </h2>
                    <form action="/editProfData" method="POST">
                    <input type="text" class="register-field" value="" placeholder="Name" name="name">
					<input type="text" class="register-field" value="" placeholder="Last Name" name="lastName">
                    <input type="submit" value="Update" class="btn btn-primary btn-large btn-block" >
                    </form>	 
                </div>    
            </div>
            <div class="col-sm boxSize">
                <div class="dashBox">
                    <h2> Register Classes </h2>
                    <form action="/addClass" method="POST">
                    <input type="text" class="register-field" value="" placeholder="Class Name" name="className">
                    <input type="text" class="register-field" value="" placeholder="Class Code" name="classCode">
                    <input type="submit" value="Register" class="btn btn-primary btn-large btn-block" >
                    </form>
                </div>
            </div>
            <div class="col-sm boxSize">
                <div class="dashBox overflow">
                    <h2> Your Classes </h2>
                    <div id="classDisplay">
						
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="dashBox overflow largestBox">
                <h2> View Attendance </h2>
				<div id="attendance">				
            </div>
        </div>
    </div>
</div>
{% else %}
 
Please log in first! Error #2
{% endif %}
{% endblock %}