{% extends "header.html" %}

{% block head %}{{ super() }}{% endblock %}

{% block body %}
<body>
    <div class="login">
        <div class="login-screen">
            <img src="../static/images/UCF_Logo.jpg">
            <div class="app-title">
                <h1>Attendance Login</h1>
            </div>
 
            <div class="login-form">
                <form action="/login" method="POST">
                {% if session['logged_in'] %}
                <p>You're logged in already!</p><br>
                {% else %}
                
                <div class="icon"><i class="fas fa-user"></i></div>
                <input type="text" class="login-field" value="" placeholder="Email" name="email">
                <div class="icon"><i class="fas fa-lock"></i></div>    
                <input type="password" class="login-field" value="" placeholder="Password" name="password">
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
                </form>
                
				<a href="/register">Need an Account?</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
